<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="beanPostProcess" class="com.chanpller.springframework_6.chapter3.model.BeanPostProcess" >
    </bean>
    <bean id="lifeCycleBean" class="com.chanpller.springframework_6.chapter3.model.LifeCycleBean" init-method="initMethod" destroy-method="destoryMethod">
        <property name="name" value="生命周期测试——name"></property>
    </bean>
</beans>